<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>고객 관리 얼굴 인식 </h1>
  <img src="/face/stream/" />
  <!-- <input type="text" placeholder="{{ name }}">
  <input type="text" placeholder="{{ age }}">
  <input type="text" placeholder="{{ gender }}">
  <input type="text" placeholder="{{ image }}"> -->

  <form action="/face/caps/" method="post">
    {% csrf_token %}
    <button type="submit">capture</button>
  </form>
  <div>

  </div>
</body>
</html>
